.product-detail {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.detail-left {
  flex: 1;
  padding: 10px;
}

.product-detail-img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-left: 25%;
  /* transition: transform 0.3s ease-in-out; */
}

/* .product-detail-img:hover {
  transform: scale(1.2);  Hiệu ứng zoom khi hover 
} */
.detail-right {
  display: flex;
  flex: 1 1;
  padding: 20px;
  justify-content: space-evenly;
  gap: revert-layer;
  flex-direction: column;
}
.product-detail-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-detail-price {
  font-size: 20px;
  color: #5a8b9f;
  font-weight: 600;
  margin-bottom: 10px;
}

.product-detail-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.buy-add-save {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.buy-add-save button {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.buy-add-save button:hover {
  background-color: #5a8b9f;
  color: #fff;
}
